<%- include('../common/includes/head', { title: '로그인' }) %>
<link rel="stylesheet" href="/style/auth.css">
<script type="module" src="/scripts/auth.js"></script>
</head>
<body>
  <%- include('../common/includes/header')%>
  <main id="main-signup">
    <h1>Login</h1>
    <form id="signup">
      <p>
        <label for="email">email<span class="notice-validation"></span></label>
        <input type="email" name="email" id="email" placeholder="eintory@eintory.com" required>
      </p>
      <p>
        <label for="password">password<span class="notice-validation"></span></label>
        <input type="password" name="password" id="password" required>
      </p>
      <div class="buttons">
        <button type="submit" class="btn-contain btn-large" id="btn-signup" disabled>login</button>
        <a href="/signup" class="btn-outline btn-large asbtn" id="btn-signup">sign up</a>
      </div>
    </form>
  </main>
</body>
</html>