<%- include('../common/includes/head', { title: 'create-eintory' }) %>
</head>
<body>
  <%- include('../common/includes/header')%>
  <main id="main-create-eintory">
    <h1>eintory</h1>
  </main>
</body>
</html>