header {
  width: 100%;
}

header div {
  display: flex;
  align-items: center;
  max-width: 80rem;
  width: 75%;
  height: 8rem;
  margin: 0 auto;
}

#loginbtn {
  width: 4.9rem;
  height: 2.4rem;
  margin-left: 63.8rem;
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-main);
}